* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* ######################################## */
/* ####### COMMON HTML-CSS SELECTOR ####### */
/* ######################################## */
body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}
header {
    font-size: 13px;
}
i {
    color: #33475b;
}

/* ############################### */
/* ####### GENERAL CLASSES ####### */
/* ############################### */
.widthed_page {
    width: 80%;
    height: 100%;
    margin: auto;
}

.col-2 {
    position: relative;
    float: left;
    height: 100%;
    width: 49%;
}

.verticalHR {
    display: inline-block;
    font-size: 10px;
}


/* ############################## */
/* ####### + + HEADER + + ####### */
/* ############################## */
header a {
    text-decoration: none;
    color: #33475b;
}
.sticky {
    background-color: #f4f9fd;
    height: 70px;
    position: sticky;
}
    .sticky .col-2 * {
        height: 30px;
    }

    .sticky .col-2 > span {
        display: inline-block;
        position: relative;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        text-align: center;
        line-height: 30px;
    }